.seleccionado{
    color:green ;
}
.asiento{
    font-size: 45px;
}
.extra{
    font-size: 25px;
}
.botonExtra{
    margin-left: 155px;
}
.ocupado{
    color:red ;
}
.choose{
    color:blue;
}
.asientoImage{
    height: 40px;
    width: 40px;


}


.primeraClase{
    margin-right: 15px;
    margin-left: 25px;
    margin-top: 5px;
}
.imagen{
    width: 450px;
    height: 250px;
}
.imagenPago{
    width: 350px;
    height: 230px;
}
.asientosMuestra{
    text-align: center;
    width: 50%;
    float: left;
}
.imagenExtra{
    background-image: url("images/maletasBack.jpg");
}
.nextExtra{
    clear: right;
    text-align: right;
    padding-right: 150px;
}
.divPago{
    margin-left: 65px;
    float: left;
    width: 40%;
}
.divHide{
    clear: left;
    margin-left: 150px;
    margin-bottom: 80px;
}
.siguiente{
    margin-top: 115px;
    margin-left: 570px;

}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 750px;

}
.inputs{
    margin-left:220px
}
.divison{
    margin-left: 186px;
}
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}